@{
    ViewBag.Title = "Wedding Site";
}
<div class="jumbotron" style="padding-top:0; " >
    <div class="text-center">
        <h1 style="text-align:center">Rob and Dhruti</h1>
        <h2>રોબ અને ધ્રુતિ</h2>
    </div>
    <img src="@Url.Content("~/Content/save-the-date.jpeg")" style="width:75%;display:block; margin-left:auto;margin-right:auto;;" />


</div>
<div class="text-center">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <p class="lead" style="font-size:24pt;">June 29 - July 1, 2018
            Portland, OR
        </p>
    </div>
    <div class="col-md-2"  style="text-align: center; ">        
        <a style="margin-top: 20px;" href="@Url.Action("RSVP")" class="btn btn-primary btn-lg">RSVP here&raquo;</a>
    </div>
</div>