@{
    ViewBag.Title = "Wedding Site";
}
<div class="jumbotron">
    <div class="text-center">
        <h1>A Wedding</h1>
        <h4 style="margin-bottom:-35px;">for</h4>
        <h1><img src="@Url.Content("~/Content/Images/feather_left_sm.png")" style="max-height:100px" />Rob and Dhruti<img src="@Url.Content("~/Content/Images/feather_right_sm.png")" style="max-height:100px"/></h1>
    </div>

</div>
<div class="text-center">

    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <h3>Save the Date!</h3>
        <p class="lead">June 28 - July 1, 2018</p>
        <p class="lead">Portland, OR</p>
    </div>
    <div class="col-md-2"  style="text-align: center; ">
        
        <a style="margin-top: 50px;" href="@Url.Action("RSVP")" class="btn btn-primary btn-lg">RSVP here&raquo;</a>
    </div>
</div>